<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <title>Learning Angular</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js"></script>
    <script src="app\app.js"></script>
  </head>
  <body ng-init="numbers=['one', 'two', 'three']">
    <h1>Hello</h1>
    <input type="text" ng-model="favMeal" placeholder="Enter your fav meal">
    <p>Your fav meal is {{numbers}} </p>
    <ul>
      <li ng-repeat="number in numbers">{{number}}</li>
    </ul>
    <div ng-controller="myAppController">
        <p>{{message}}</p>
    </div>
  </body>
</html>
